@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
// fonts
$fonttitles:'Montserrat', sans-serif;
$fontparagraphs:'Questrial', sans-serif;
// colors
$generalcolor: #ff5672;
$titlesColor: #FFFFFF;
$iconsColor: #c2cfd7;
$colormobile:rgba(rgb(255, 255, 255), .9);